<div class="hero-unit" id="upload-form">
  <h1>FileShort</h1>
  <p>Upload your files and share it with your friends!</p>

  <div class="bordered-dashed upload-zone">
    <span>Drop your file here or click for choose it from dialog window</span>
    <%= form_for :upload, :url => { :action => :create }, :html => { :class => "form-search"} do |f| %>
      <%= f.file_field :original_name, :class => "input-medium search-query" %>
    <% end %>
  </div>

  <div class="progress progress-striped active hidden">
    <div class="bar" style="width: 0%;"></div>
  </div>
</div>