<div class="row file-page image-page">
  <div class="span6 offset3 hero-unit">
    <p class="file-name"><%= @upload.original_name %></p>
    <%= link_to(
        'Download file',
        {:controller => :upload, :action => :download, :id => @upload.slug},
        {:class => 'btn btn-primary'}
      )
    %>
  </div>
</div>